# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# .gitignore
.vscode

# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py

*.pyc
*.db
*.pid

*.sqlite3

# virtualenv
.venv
venv/
ENV/

# dotenv
.env

# pyenv
.python-version

# Django stuff:
*.log
local_settings.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
