.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(219, 219, 219);
  padding-bottom: 2em;
}
.row {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
img {
  height: 200px;
  display: block;
}
.card p {
  text-align: center;
}
a {
  text-decoration: none;
}
