<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raphael Jay Bernardo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Raphael Jay Bernardo</h1>
      <p>Hi my name is Raphael, I enjoy making apps and riding my bike</p>
      <a href="#">Email Me</a>
      <img src="{% static 'author.jpg' %}" alt="Author" />
    </div>
    <div class="row">
      {% for job in jobs.all %}
      <div class="card">
        <img src="{{ job.image.url }}" alt="" />
        {{ job.summary }}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
